<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/public/css/style.css">
	<h1>Greeted names and counter message</h1>
</head>
<body>
         {{{message}}} 

<br></br>
  <button class="button primary" type="submit" name="button"> <a href="/greeted">Back</a> </button>
    </div>
    </body>
