

 <div class="Greeted-names">
<h1>Greeted names</h1>
 
  

 <h3>{{#each namesStored}}


  <a href="/counter/{{this.name}}">
    <li>{{this.name}}</li>
  </a>
  {{/each}}</h3> 

  <h2> {{messages.info}}</h2>

  <button class="button primary" type="submit" name="button"> <a href="/">Back</a> </button>

</div>