

  <div class="head">
<h2>Greeted names</h2>
  </div>
  

  {{#each namesStored}}


  <a href="/counter/{{this.name}}">
    <li>{{this.name}}</li>
  </a>
  {{/each}}

  <h4> {{messages.info}}</h4>

  <button class="button primary" type="submit" name="button"> <a href="/">Back</a> </button>

</div>