body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 0, 170);
  font-size: 16px;
	border: 2em solid;
	
	
}


.greetings {
	width: fit-content;
	margin:	10em auto;
}
/* 
.parts {
	display: flex;
	margin-right: 2em;
} */

.Greeting{
	display: block;
	text-align: center;
	margin-bottom: 10px;
}

.Greeted-names{
	font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 0, 170);
}


.button {

  background-color: lightseagreen;
    margin: 5px;
	border: 1px solid;
	border-radius: 0.25em;
	font-size: 16px;
	padding: 10px;
	display: block;
	cursor: pointer;
	color: white;
	margin-top: 10px;

}
.button:hover {
	background-color: white;
	color: lightseagreen;
}
